@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: radial-gradient(50% 50% at 50% 50%, #25292f 0%, #0d0d0f 100%);

  color: #f5f5f5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  height: auto;
}
figure {
  margin: 0;
  padding: 0;
  border: 0;
}
.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.o-g-header.is-open .o-g-header-background {
  left: 0;
}
.o-g-header-button-wrapper {
  margin-left: auto;
}
.o-g-header-icon {
  display: none;
}

.o-g-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.o-g-navigation-list.is-open {
  right: 0;
}
.o-g-header-icon-menu {
  display: block;
}

.o-g-header-icon-button.is-open .o-g-header-icon-menu {
  display: none;
}

.o-g-header-icon-button.is-open .o-g-header-icon-close {
  display: block;
}

.o-g-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: auto;
}

.o-g-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: #2a3139;
}
.o-g-header.is-open .o-g-header-background {
  left: 0;
}
.o-g-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.o-g-header-icon-menu {
  display: block;
}

.o-g-header-icon-button.is-open .o-g-header-icon-menu {
  display: none;
}

.o-g-header-icon-button.is-open .o-g-header-icon-close {
  display: block;
}

.o-g-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 42px 42px 0 0;
  position: relative;
}

.o-g-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: auto;
  transition: 0.3s;
  z-index: 999;
  gap: 26px;
  padding: 150px 32px;
  background: #2a3139;
}

.o-g-navigation-list.is-open {
  right: 0;
}

.o-g-navigation-link {
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: #f5f5f5;
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}

.o-g-navigation-link:hover,
.o-g-navigatioт-link:focus {
  color: #f9cb48;
}

.o-g-header.is-open {
  background-color: transparent;
}

.o-g-navigation-img {
  display: none;
}

@media screen and (min-width: 1193px) {
  .o-g-navigation-img {
    display: block;
  }
  .o-g-policy-terms-header-icon-menu {
    display: none;
  }
  .o-g-header-button-wrapper {
    display: none;
  }
  .o-g-header {
    width: 100%;
    height: 70px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .o-g-header-icon-button {
    display: none;
  }
  .o-g-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    padding: 0 80px;
    margin: auto;
  }

  .o-g-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 168px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .o-g-navigation-link {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-wrap: nowrap;
  }

  .o-g-navigation-link:hover,
  .o-g-navigation-link:focus {
  }

  .o-g-navigation-item-desk {
    display: none;
  }
}

.o-g-home {
  width: 375px;
  height: 641px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Frame\ 59.png");
  margin: auto;
}
.o-g-home-container {
  width: 375px;
  padding: 214px 20px 0px;
  margin: auto;
}

.o-g-home-title-img {
  width: 335px;
}

@media screen and (min-width: 1193px) {
  .o-g-home {
    width: auto;
    height: 820px;
    background-image: url("/img/Home.png");
  }
  .o-g-home-container {
    width: 1440px;
    padding: 290px 80px 0px;
  }

  .o-g-home-title-img {
    width: 630px;
  }
}
.o-g-about {
  margin: auto;
  width: 375px;
  padding-top: 162px;
}
.o-g-about-container {
  width: 375px;
  height: 963px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/The\ concept.png");
  padding: 0px 20px 0px;
  margin: auto;
}
.o-g-about-title {
  font-family: Space Grotesk;
  font-weight: 700;
  font-style: Bold;
  font-size: 36px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  color: #f9cb48;
}
.o-g-aboutlist {
  padding-top: 388px;
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.o-g-about-text {
  font-family: Space Grotesk;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  color: #dd5050;
}
.o-g-about-lists {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 16px;
}
.o-g-about-item {
  display: flex;
  gap: 4px;
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}
.o-g-about-img {
  width: 28px;
  height: 28px;
}
@media screen and (min-width: 1193px) {
  .o-g-about {
    margin: auto;
    width: 1440px;
    padding: 140px 175px 0;
  }
  .o-g-about-container {
    width: 1090px;
    height: 527px;

    background-image: url("/img/The\ concept\ \(1\).png");
    padding: 0px;
    margin: auto;
  }
  .o-g-about-title {
    font-family: Space Grotesk;
    font-weight: 700;
    font-style: Bold;
    font-size: 36px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }
  .o-g-aboutlist {
    padding: 72px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 454px;
  }

  .o-g-about-lists {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-top: 16px;
  }
  .o-g-aboutlist-item {
    width: 305px;
  }
}

.o-g-why-container {
  width: 375px;
  margin: auto;
  padding: 80px 20px 0;
}

.o-g-why-item {
  margin: 0 10px;
  width: 198px;
  height: 283px;
  background: #2a3139;

  border-radius: 4px;
  padding: 12px;
  background-image: url("/img/why/Container.png");
}
.o-g-why-img {
  width: 173px;
}

.o-g-why-text {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  color: #f5f5f5;
  padding-top: 13px;
}

@media screen and (min-width: 1193px) {
  .o-g-why-container {
    width: 1440px;
    padding: 140px 76px 0;
  }
}

.o-g-uniqueness-container {
  margin: auto;
  width: 375px;
  padding: 80px 20px 0;
}
.o-g-uniqueness-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.o-g-uniqueness-item {
  width: 335px;
  height: 104px;
  padding: 12px;
  background-image: url("/img/Container\ \(1\).png");
}

.o-g-uniqueness-item-w {
  width: 335px;
  height: 128px;

  background-image: url("/img/Container\ \(2\).png");
}
.o-g-uniqueness-text-bold {
  font-family: Space Grotesk;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  color: #dd5050;
}
.o-g-uniqueness-text {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (min-width: 1193px) {
  .o-g-uniqueness-container {
    margin: auto;
    width: auto;
    padding: 0px;
    padding-top: 140px;
  }
  .o-g-uniqueness-lists {
    height: 516px;
    width: auto;
    margin-top: -90px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/img/2.png");
    padding-top: 78px;
  }
  .o-g-uniqueness-list {
    width: 1280px;
    height: 324px;
    margin: auto;

    position: relative;
  }
  .o-g-uniqueness-item {
    position: absolute;
    top: 110px;
    left: 0;
  }

  .o-g-uniqueness-item-w {
    top: 0;
    left: 467px;
  }
  .o-g-uniqueness-item-e {
    top: 220px;
    left: 467px;
  }
  .o-g-uniqueness-item-r {
    top: 110px;
    left: 934px;
  }
}

.o-g-how-container {
  margin: auto;
  width: 375px;
  padding: 80px 20px 0;
}
.o-g-how-list {
  display: flex;
  flex-direction: column;
  gap: 21px;
}

.o-g-how-item {
  width: 335px;
  height: 406px;
  padding: 22px;

  background-image: url("/img/Container\ \(3\).png");
}

.o-g-how-img {
  width: 291px;
}

.o-g-how-text-bold {
  padding-top: 20px;
  font-family: Space Grotesk;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  color: #dd5050;
}
.o-g-how-lists {
  display: flex;
  padding-top: 9px;
  flex-direction: column;
  gap: 8px;
}
.o-g-how-text {
  gap: 8px;
  display: flex;
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  padding: 0 36px;
}

@media screen and (min-width: 1193px) {
  .o-g-how-container {
    margin: auto;
    width: 1440px;
    padding: 34px 80px 0;
  }
  .o-g-how-list {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .o-g-how-item {
    width: 413px;
    height: 435px;

    padding: 22px;

    background-image: url("/img/Frame\ 52.png");
  }

  .o-g-how-img {
    width: 369px;
  }

  .o-g-how-text {
    padding: 0 75px;
  }
}

.o-g-reviews-container {
  margin: auto;
  padding: 80px 16px;
  width: 375px;
}
.o-g-reviews-image {
  width: 375px;
  height: 67px;
  margin-left: -20px;
}
.o-g-reviews-list {
  margin: auto;
  padding-bottom: 22px;
}

.o-g-reviews-item {
  margin: 0 10px;
  width: 305px;
  height: 314px;
  padding-top: 28px;
  padding-right: 22px;
  padding-bottom: 28px;
  padding-left: 22px;
  background-image: url("/img/reviews/Review\ Card.png");
}

.o-g-reviews-item-top {
  display: flex;
  gap: 12px;
  align-items: center;
}
.o-g-reviews-img {
  width: 72px;
  height: 72px;
}
.o-g-reviews-text-bold {
  font-family: Space Grotesk;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  color: #f9cb48;
}

.o-g-reviews-text {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  color: #f8f4e3;
  padding-top: 18px;
}

@media screen and (min-width: 1193px) {
  .o-g-reviews-container {
    margin: auto;
    padding: 140px 0px 140px;
    width: auto;
  }
  .o-g-reviews-image {
    width: 100%;
    height: 259px;
    margin: 0;
    background-image: url("/img/Frame-59.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .o-g-reviews-list {
    padding: 0 80px 24px;
  }
}

.o-g-gallery-button-container {
  display: none;
}
@media screen and (min-width: 1193px) {
  .o-g-gallery-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .o-g-gallery-button {
    background-color: transparent;
    border: none;
    padding: 0;
    -webkit-transition: scale 0.3s ease;
    transition: scale 0.3s ease;
  }
  .o-g-gallery-button-icon {
    width: 36px;
  }
  .o-g-gallery-button:hover {
    scale: 120%;
  }
}

.o-g-policy-terms-container {
  padding: 126px 20px 80px;
  width: 375px;
  margin: auto;
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}

.o-g-policy-terms-container h1 {
  font-family: Space Grotesk;
  font-weight: 700;
  font-style: Bold;
  font-size: 36px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  color: #f9cb48;
}
.o-g-title-div {
  width: 335px;

  height: 22.607799530029297px;
  margin: 18px 0 28px;
}
.o-g-policy-terms-container h2 {
  margin: 20px 0 10px;
  font-family: Inter;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}
.o-g-policy-terms-container ul {
  list-style-type: disc;
  margin-left: 20px;
}

.o-g-email-link {
  color: inherit;
  text-decoration: none;
}
@media screen and (min-width: 1193px) {
  .o-g-policy-terms-container {
    padding: 102px 180px 100px;
    width: 1440px;
  }
  .o-g-policy-terms-container h1 {
    font-family: Space Grotesk;
    font-weight: 700;
    font-style: Bold;
    font-size: 36px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }
  .o-g-title-div {
    content: url("/img/Line\ \(1\).png");
    width: 630px;
    height: 24px;

    margin: 18px auto 36px;
  }
}

.o-g-footer-container {
  width: 375px;
  padding: 45px 20px;
  margin: auto;
  display: flex;
  flex-direction: column;

  gap: 34px;
}

.o-g-footer-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.o-g-footer-text {
  text-decoration: none;
  color: #2a3139;
  font-family: Space Grotesk;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}

.o-g-footer-copyright {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 12px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  color: #2a3139;
}

@media screen and (min-width: 1193px) {
  .o-g-footer-container {
    width: 1440px;
    padding: 46px 180px;

    gap: 50px;
  }

  .o-g-footer-wrapper {
    display: flex;
    flex-direction: row;

    gap: 725px;
  }

  .o-g-footer-text {
    font-family: Space Grotesk;
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .o-g-footer-copyright {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }
}

.o-g-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  padding: 38px 21px 98px;
  background: #f9cb48;

  z-index: 1000;
  display: none;
}

.o-g-cookie-popup-text-two {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;

  color: #25292f;
}

.o-g-cookie-button-container {
  padding: 24px 0 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.o-g-cookie-button {
  width: 295px;
  height: 78px;
  border-radius: 4px;
  padding-top: 24px;
  padding-right: 48px;
  padding-bottom: 24px;
  padding-left: 48px;
  border-width: 1px;
  border: 1px solid #0d0d0f;
  font-family: Space Grotesk;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;

  background-color: transparent;
}

#accept-cookies {
  color: #f9cb48;
  background: radial-gradient(50% 50% at 50% 50%, #25292f 0%, #0d0d0f 100%);
}

.o-g-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (min-width: 1193px) {
  .o-g-cookie-popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 180px;
  }

  .o-g-cookie-popup-text-two {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;

    width: 595px;
  }

  .o-g-cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;

    gap: 26px;
  }

  .o-g-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;
    padding: 20px 15px;
    display: none;
  }
}
